<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrás de uma Página</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }
        .container {
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        h1 {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }
        .post {
            margin-bottom: 30px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }
        .post h2 {
            color: #007bff;
            margin-bottom: 10px;
        }
        .post p {
            color: #666;
        }
        .footer {
            text-align: center;
            padding: 20px 0;
            background-color: #343a40;
            color: #fff;
        }
        .navbar {
            background-color: #343a40 !important;
        }
        .navbar-brand {
            color: #000000;
        }
</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>


    <div class="container">
        <h1>Atrás de uma página</h1>

        <br>
        </h1>
 Bem-vindo ao mundo das palavras que ecoam experiências, sonhos e reflexões! Entre linhas e sentimentos, este é o espaço onde os textos pessoais ganham voz e alma.
    </div>


    <div class="container">
        <h1>Lar</h1>
           <p> Enquanto você dormia te olhei lentamente e agradeci baixinho, por sua existência,
              por ter te conhecido, por podermos dividir o mesmo silêncio,
                 os mesmos sonhos, por poder te contar sem medo, as minhas angústias e frustrações,
                 e saber que você também me confiava as suas. Enfim, agradeci por ter você aqui comigo.
                 Eu sei, parece exagerado, e amar é algo tão trivial, tão essencial à espécie humana,
                 mas amar e ser amado, do jeito que estava me ocorrendo, de forma tão recíproca,
                 era um privilégio, que eu desejava que ao menos uma vez na vida, acontecesse com todas as pessoas do mundo.
                 Eu sempre busquei por muito tempo um lar. e pra mim, desde do primeiro instante que eu te conheci,
                 eu senti que você era tudo e um pouco mais do que eu precisava. ter conhecido você,
                 foi como aquele arco íris que surge depois de uma imensa tempestade. você é,
                 e sempre será a definição da intensidade e do amor puro.
                 você é uma escolha e um sentimento que eu nunca conheci e nem sabia que existia.
                 eu te amo muito além dos universos e além de qualquer realidade.
                 se algum dia, tiver dúvida do meu amor, lembre-se sempre,
                 que toda vez que eu escrevo qualquer coisa que fale sobre o amor,
                 eu escrevendo pensando em você.</p>
                                  <p> Vitória Maria - 22/03/2024</p>

</div>

    <div class="container">
        <h1>Tempo</h1>
           <p> O tempo é um tecido invisível que permeia nossas vidas, entrelaçando-se com cada respiração,
            cada batida do coração.É uma medida abstrata que captura o fluxo constante da existência,
            uma correnteza que nos leva desde o passado até o presente,moldando o curso do nosso destino.
            Em suas mãos, o tempo carrega memórias preciosas, momentos de alegria e tristeza, de triunfo e desafio.
            É um arquivo vasto que guarda os traços de nossas jornadas individuais e coletivas,
            registrando os capítulos de nossas histórias em seu eterno livro.
            Mas o tempo não é apenas uma testemunha silenciosa de nossas vidas; é também um mestre sábio que nos ensina lições valiosas.
            Ensina-nos a arte da paciência, mostrando-nos que nem tudo acontece no momento desejado, mas no momento certo.
            Ensina-nos a apreciar cada instante, pois o presente é um presente precioso que nunca será recuperado.
            No entanto, o tempo também pode ser um desafio implacável, uma corrida contra o relógio que nos leva a correr mais rápido,
            a buscar mais, a desejar mais. Às vezes, sentimos o peso de suas asas sobre nós, lembrando-nos de nossa finitude, de nossa mortalidade.
            E ainda assim, apesar de sua natureza fugaz e imprevisível, o tempo nos oferece a oportunidade de criar, de crescer, de nos transformar.
            Nos dá a liberdade de escolher como queremos gastar nossos preciosos momentos, quem queremos ser, o que queremos alcançar.
            No final das contas, o tempo é um presente extraordinário, uma dádiva que nos é concedida a cada nascer do sol.
            Cabe a nós abraçar cada momento, celebrar cada experiência e viver plenamente enquanto as mãos do relógio continuam a girar,
            guiando-nos em nossa jornada através da vida.
           </p>
           <p> Vitória Maria - 22/03/2024</p>
    </div>

        <div class="container">
        <h1>Relacionamento</h1>
           <p> O relacionamento humano é uma dança complexa de conexões, emoções e compromissos. É um tecido intricado que une duas pessoas em uma jornada compartilhada, repleta de altos e baixos, desafios e triunfos.
                No cerne de todo relacionamento está a busca pela compreensão mútua, pela empatia e pelo apoio incondicional. É sobre compartilhar risos e lágrimas, sonhos e medos, construindo laços que resistem ao teste do tempo.
                Cada relacionamento é único, uma interseção de duas histórias individuais que se entrelaçam para formar uma nova narrativa. É um espaço seguro onde as vulnerabilidades podem ser expostas, onde as feridas podem ser curadas e onde o amor pode florescer.
                No entanto, o relacionamento também é um terreno fértil para o crescimento pessoal, um espelho que reflete nossas próprias virtudes e falhas. É através dos altos e baixos, das alegrias e dores, que aprendemos a nos conhecer melhor e a nos tornar melhores versões de nós mesmos.
                Às vezes, o relacionamento é um campo de batalha, onde as diferenças podem causar atritos e desentendimentos. É nesses momentos de conflito que somos desafiados a praticar a arte da comunicação eficaz, da compreensão e do perdão.
                Mas, apesar dos obstáculos que possam surgir, o verdadeiro poder de um relacionamento reside na sua capacidade de nos enriquecer, de nos inspirar, de nos fazer sentir verdadeiramente vivos. É o calor de um abraço no final de um longo dia, o brilho nos olhos ao compartilhar uma piada interna, a sensação reconfortante de ter alguém ao nosso lado, não importa o que aconteça.
                Em última análise, o relacionamento é uma jornada de crescimento, uma dança constante entre duas almas que se apoiam mutuamente enquanto exploram as maravilhas e os desafios da vida. É um presente precioso que merece ser nutrido, cultivado e celebrado a cada passo do caminho.
                </p>
                <p> Vitória Maria - 22/03/2024</p>
    </div>

    <div class="container">
    <h1>Do Nortedeste ao Sul</h1>
       <p> Sair do Nordeste em direção ao Sul é mais do que uma simples mudança geográfica - é uma jornada que nos leva a explorar novas terras, culturas e oportunidades. É uma decisão que pode ser impulsionada por uma variedade de razões, desde a busca por melhores oportunidades de trabalho até o desejo de experimentar um clima diferente e descobrir novos horizontes.
        Ao deixar o calor acolhedor e vibrante do Nordeste para trás e adentrar nas terras mais frias e cosmopolitas do Sul, somos recebidos por uma paisagem completamente diferente. As palmeiras e praias de areias douradas dão lugar a florestas exuberantes, montanhas majestosas e cidades agitadas. A mudança na paisagem é um convite para explorar novas aventuras e descobrir os encantos únicos da região sulista.
        Mas a mudança vai além da geografia. É também uma imersão em uma nova cultura, com seus próprios costumes, tradições e maneiras de viver. Do sotaque ao estilo de vida, do jeito de se vestir às comidas típicas, cada aspecto da vida cotidiana pode parecer estranho e excitante ao mesmo tempo. É uma oportunidade de mergulhar de cabeça em uma nova experiência cultural, expandindo nossos horizontes e ampliando nossa compreensão do mundo.
        No entanto, a mudança também traz desafios. A adaptação a um clima mais frio pode ser difícil para aqueles acostumados ao calor constante do Nordeste. A distância da família e dos amigos pode trazer saudades e nostalgia. A busca por um lugar na sociedade sulista pode exigir paciência e determinação.
        Mas é nos desafios que encontramos oportunidades de crescimento. Aprender a se adaptar a um novo ambiente nos torna mais resilientes e flexíveis. Conectar-se com novas pessoas nos enriquece com diferentes perspectivas e nos ensina a valorizar a diversidade. Construir uma vida no Sul nos permite explorar novas oportunidades de carreira, desenvolver novas habilidades e nos reinventar de maneiras que nunca poderíamos ter imaginado.
        Sair do Nordeste para o Sul é uma aventura emocionante, repleta de novas experiências, descobertas e aprendizados. É uma jornada que nos desafia a sair da nossa zona de conforto e a abraçar o desconhecido. E no final, é uma oportunidade de criar uma vida significativa e enriquecedora em uma nova região, transformando uma mudança aparentemente assustadora em uma emocionante aventura de crescimento e autodescoberta.
        </p>
        <p> Vitória Maria - 22/03/2024</p>
     </div>

     <div class="container">
        <h1>Crescimento </h1>
            <p> O crescimento pessoal é uma jornada fascinante e contínua, um processo pelo qual nos aventuramos para nos tornarmos versões mais autênticas e plenas de nós mesmos. É um caminho repleto de descobertas, desafios e transformações, que nos leva além de nossos limites percebidos e nos permite florescer em todo o nosso potencial.
                No cerne do crescimento pessoal está a coragem de explorar o desconhecido, de enfrentar nossos medos e de abraçar a mudança. É sobre olhar para dentro de nós mesmos com honestidade e compaixão, reconhecendo nossas áreas de oportunidade e aceitando que somos seres em constante evolução.
                Uma das partes mais emocionantes do crescimento pessoal é o processo de autoconhecimento. À medida que nos permitimos mergulhar nas profundezas de nossa própria essência, descobrimos aspectos de nossa personalidade, paixões e propósitos que talvez nunca tenhamos percebido antes. A autoconsciência nos capacita a alinhar nossas ações com nossos valores e aspirações, criando uma base sólida para o desenvolvimento pessoal contínuo.
                No entanto, o crescimento pessoal não vem sem desafios. À medida que nos esforçamos para nos tornarmos a melhor versão de nós mesmos, inevitavelmente nos deparamos com obstáculos e adversidades. Estes podem vir na forma de fracassos, rejeições, ou momentos de incerteza. No entanto, é importante lembrar que cada obstáculo é uma oportunidade disfarçada de crescimento e aprendizado. São esses desafios que nos fortalecem, nos ensinam lições valiosas e nos impulsionam em direção ao nosso potencial mais elevado.
                Além disso, o crescimento pessoal muitas vezes requer uma dose saudável de autodisciplina e persistência. É preciso compromisso e determinação para enfrentar nossos hábitos prejudiciais, superar nossas limitações autoimpostas e perseguir nossos objetivos com dedicação inabalável. É através da prática consistente e do esforço contínuo que construímos a resiliência necessária para superar os desafios que encontramos ao longo do caminho.
                No entanto, apesar dos desafios, o crescimento pessoal é uma jornada incrivelmente recompensadora. À medida que nos expandimos e nos desenvolvemos, começamos a experimentar uma sensação renovada de empoderamento, autoconfiança e realização. Sentimo-nos mais conectados com nós mesmos e com o mundo ao nosso redor, capazes de enfrentar os altos e baixos da vida com equanimidade e graça.
                Em última análise, o crescimento pessoal é uma jornada única e individual, uma aventura emocionante de autodescoberta e evolução. É um convite para abraçar a mudança, nutrir nosso potencial e viver uma vida de significado e propósito. E embora o caminho possa ser desafiador, as recompensas são infinitas, transformando-nos em seres mais compassivos, resilientes e autênticos.

            </p>
            <p> Vitória Maria - 24/03/2024</p>
</div>

<div class="container">
    <h1>Um Grito Silencioso por Socorro</h1>
         <p> Querido mundo,
            <br>
            Escrevo estas palavras com um coração pesado e uma mente atribulada. Enquanto a tinta preenche o papel, sinto-me afogado por uma escuridão que parece não ter fim. Cada palavra que escrevo é uma tentativa desesperada de explicar o inexplicável, de expressar o inexprimível.
            Ao longo dos dias e das noites, tenho carregado um fardo insuportável, um peso que parece esmagar minha alma. Sinto-me como um náufrago em um mar de desespero, lutando contra ondas de angústia e solidão. Por mais que tente, não consigo mais encontrar uma razão para continuar.
            Esta carta não é um adeus, mas sim um grito silencioso por socorro. É um testemunho de uma dor que consome, de uma luta que parece interminável. Não é um ato de egoísmo, mas sim um pedido desesperado por alívio, por paz, por um fim para o sofrimento insuportável que me consome por dentro.
            Se você está lendo estas palavras, por favor, entenda que não é sua culpa. Você fez o melhor que pôde, mas às vezes a dor é simplesmente avassaladora demais para suportar. Por favor, não se sinta culpado por não ter percebido antes. A escuridão pode ser mestre em esconder suas garras, até mesmo dos olhos mais atentos.
            Para aqueles que ficam, peço que encontrem conforto nas lembranças dos momentos felizes que compartilhamos juntos. Lembrem-se de mim não pelo meu último ato, mas pelos sorrisos que compartilhamos, pelas risadas que ecoaram e pelo amor que nos uniu.
            E para aqueles que estão lutando como eu lutei, por favor, ouçam estas palavras: você não está sozinho. Há ajuda disponível, pessoas dispostas a ouvir e a oferecer apoio incondicional. Você é amado, você é valioso e sua vida importa mais do que você pode imaginar.
            Que esta carta sirva como um lembrete de que a esperança ainda existe, mesmo nas horas mais sombrias. Que possamos encontrar força na nossa vulnerabilidade, coragem na nossa fragilidade e amor na nossa dor. Que possamos nos unir como uma comunidade para enfrentar o estigma em torno da saúde mental e oferecer compaixão àqueles que mais precisam.
            Com amor e esperança, alguém em silencio.
        </p>
        <p> Vitória Maria - 24/03/2024</p>
        </div>

        <div class="container">
            <h1>Uma hora...</h1>
                <p> Uma hora a gente percebe que ganhou uma nova versão. Uma versão mais objetiva.
                    Uma versão que amadurece por conta de erros e acertos, escolhas e detalhes.
                    Quando eu percebi a minha nova versão, entendi que crescer foi importante pra lidar com tudo que me tirava a paz.
                    Tudo que me prendia aos pés de sentimentos e lugares que não acrescentavam nada na minha vida.
                    Afastei amizades tóxicas, valorizei o amor que sinto pela a minha paz e me dediquei a aprender mais, a melhorar mais.
                    Deus, gratidão por tudo o que tenho e por tudo o que sou. E por todo o mal que me livrou..
                    Com o tempo, aprendi a importância de me cercar de pessoas que me inspiram e me elevam.
                    Troquei conversas vazias por diálogos significativos, e percebi que a qualidade dos relacionamentos é muito
                    mais importante do que a quantidade. Comecei a enxergar o valor das pequenas coisas e a dar mais atenção aos detalhes que
                    realmente fazem a diferença.
                    Descobri que a felicidade não está em lugares distantes ou em promessas de um futuro ideal, mas sim nas pequenas alegrias do dia a dia.
                    Nos momentos de tranquilidade, nos sorrisos sinceros, nas conquistas diárias, por menores que sejam.
                    Aprendi a celebrar cada passo, cada avanço, e a reconhecer meu próprio valor.
                    A gratidão tornou-se uma prática diária. Agradeço não só pelas bênçãos evidentes, mas também pelos desafios que me fortaleceram.
                    Agradeço pelas lições aprendidas, pelos obstáculos superados, e pelas portas que se fecharam, pois me direcionaram para caminhos melhores.
                    Ao olhar para trás, vejo o quanto evoluí. A versão que sou hoje é resultado de cada experiência vivida, cada lágrima derramada, cada riso compartilhado.
                    E ao olhar para frente, sei que continuarei crescendo, aprendendo e me transformando.
                    Deus, minha gratidão é infinita. Pelo sustento nos momentos difíceis, pela clareza nas decisões,
                    pela presença constante, mesmo quando me sentia só. Obrigado por cada bênção, cada proteçãoe
                    por guiar meus passos com sabedoria e amor. Que eu continue a caminhar com fé, buscando ser uma versão melhor a cada dia,
                    vivendo plenamente e espalhando amor e paz por onde eu passar.
        </p>
        <p> Vitória Maria - 03/06/2024</p>
    </div>

        <div class="container">
            <h1>Você</h1>

                <p>Você é muitas coisas ao mesmo tempo:
                    todas elas compõem o seu processo de crescimento.
                    Não ligue quem você é por uma falta de percepção sobre si.
                    Você é muitas coisas e dentre elas.
                    Não é apenas essa visão deturbada de si, você é completa.
                    Você não é sua ansiedade, sua amgústia no final do dia, uma emoção bagunçada, um relacionamento frustado.
                    Você é um acontecimento e como todo acontecimento, nóss não temos controle sobre eles.
                    A vida é uma constante jornada de autodescoberta, repleta de altos e baixos, momentos de clareza e de confusão. É importante lembrar que somos muito mais do que nossas emoções passageiras ou nossas circunstâncias atuais.
                    Somos seres em constante evolução, feitos de sonhos, experiências, falhas e conquistas. Cada desafio que enfrentamos,
                     cada obstáculo que superamos, contribui para moldar quem somos. Não devemos nos definir pelo que nos aflige em
                     determinado momento, mas sim pelo conjunto de nossas ações, valores e aspirações. Aceitar nossa complexidade é um
                     passo fundamental para o crescimento pessoal. Somos feitos de camadas profundas, cada uma contendo uma parte da
                      nossa história, de nossos medos e esperanças. Reconhecer e abraçar todas essas facetas nos permite encontrar um
                      equilíbrio interior e uma aceitação plena de nós mesmos. Assim como os acontecimentos da vida,
                      não podemos controlar totalmente quem somos. Mas podemos escolher como reagimos a eles, como crescemos a partir deles
                      e como moldamos nosso próprio destino. Em cada desafio, há uma oportunidade de aprendizado e crescimento,
                       uma chance de nos tornarmos mais resilientes, mais sábios, mais completos. Portanto, lembre-se sempre:
                       você é mais do que suas emoções passageiras, mais do que suas circunstâncias atuais.
                       Você é uma jornada em constante evolução, uma história em desenvolvimento,
                        um ser completo em sua complexidade. Abra-se para essa plenitude, celebre sua individualidade
                        e siga em frente com coragem e confiança.

        </p>
        <p> Vitória Maria - 03/06/2024</p>
    </div>

        <div class="container">
            <h1>Resposabilidade afetiva</h1>
                <p> Seja transparente nos seus desejos, nas suas vontades e nos seus planos para o futuro.
                    Responsabilidade afetiva não é sobre reciprocidade. É sobre dar ao outro a escolha de ir
                    embora ou permanecer a parti daquilo que você tem a oferecer.
                    Responsabilidade afetiva não é apenas sobre reciprocidade. É sobre dar ao outro a escolha de ir embora
                    ou permanecer a partir daquilo que você tem a oferecer. É sobre ser transparente nos seus desejos,
                    nas suas vontades e nos seus planos para o futuro.
                    É compreender que cada indivíduo tem suas próprias necessidades, desejos e limitações. É estar presente
                    de forma genuína, oferecendo apoio e compreensão, sem esperar algo em troca.
                    É também reconhecer quando é hora de deixar alguém partir, respeitando suas decisões e
                    permitindo que sigam seu próprio caminho, mesmo que isso signifique se afastar. A responsabilidade
                    afetiva é um ato de amor e cuidado consigo mesmo e com o outro, onde a honestidade, o respeito
                    e a empatia são fundamentais para construir relacionamentos saudáveis e significativos.

                </p>
                <p> Vitória Maria - 04/06/2024</p>
            </div>


         <div class="container">
             <h1>Aprenda um pouco mais sobre antônimos</h1>
                 <p> Conforme amadurecemos, adquirimos uma aversão em machucar qualquer sentimento que se aproxime da gente.
                    Ser transparente nos desejos, vontades e futuro,
                    é o mínimo que devemos a quem se dispor em ficar pelo menos um pouco na nossa vida.Só aceite se você estiver pronto.
                    Caso contrário, aprenda um pouco mais sobre antônimos, e entenda que uma palavra não completa o significado da outra.
                    Assim como a felicidade não completa a tristeza, a luz não completa a escuridão e o amor não completa a solidão.
                    A mutualidade não é obrigação, mas sim um risco que escolhemos correr quando decidimos nos abrir para alguém.
                    É a vulnerabilidade de permitir que outra pessoa entre em nossa vida, compartilhe nossas experiências e se torne parte do nosso mundo.
                    Aceitar essa mutualidade requer coragem e maturidade emocional. É entender que nem sempre receberemos o mesmo que damos, mas ainda assim
                    escolher dar o nosso melhor, com a esperança de que seja o suficiente para nutrir e fortalecer o vínculo que compartilhamos.
                    Portanto, seja transparente em suas intenções, mas também esteja preparado para aceitar a reciprocidade apenas se ambos estiverem prontos
                    e dispostos a se comprometerem com o mesmo nível de entrega e cuidado mútuo.

                 </p>
                 <p> Vitória Maria - 04/06/2024</p>
                </div>


          <div class="container">
                    <h1>Afeto</h1>
                      <p> O afeto mora nos detalhes! Na Mensagrm desprentensiosa, no começo do dia no reels encaminhado com "lembrei de você".
                        O afeto mora na saudade repetina, mora na mesa do bar dabndo boas risadas. Mora no falar "quem somos nos para julgar?",
                        mora no abraço com força descomunal , afeto mora no dito, mas principalmente  no que é ação e deetalhes.
                        O cotidiano pode ser corrido e ás vezes o "eu te amo" vem de outras formas. Aprendam a exergar o amor em outras palavras que não sejam
                        somente "eu te amo", os detalhes também são uma parcela do amor. Eles são as pequenas sutilezas do dia a dia que muitas vezes passam despercebidas,
                        mas que carregam consigo todo o peso do afeto e da conexão entre duas pessoas.O amor não se resume apenas às palavras "eu te amo". Ele está presente
                        nas pequenas ações, nos gestos simples e nas demonstrações de carinho que fazem parte do nosso cotidiano. Está na mensagem de bom dia enviada logo cedo,
                        no sorriso compartilhado durante uma conversa descontraída, no abraço apertado que transmite conforto e segurança.
                        Às vezes, o amor se manifesta de maneiras inesperadas e surpreendentes. Pode estar na preparação do prato favorito do outro,
                        no cuidado ao escolher um presente especial ou no apoio silencioso em momentos difíceis.
                        Aprender a enxergar o amor nos detalhes é uma forma de valorizar e reconhecer a importância das pequenas coisas
                        na construção de um relacionamento sólido e verdadeiro. É entender que o afeto está presente em cada momento compartilhado,
                         em cada gesto de cuidado e em cada demonstração de amor e gratidão.
                        </p>
                        <p> Vitória Maria - 04/06/2024</p>
                    </div>


         <div class="container">
                        <h1>Lembranças</h1>
                           <p>Você já parou para pensar que tem momentos onde um dia você irá querer poder reviver, e só restarão
                            Lembranças? </p>
                            <br>
                           <p> Você já parou para pensar que tem momentos na vida que são tão especiais, tão intensos, que desejamos poder revivê-los vezes e vezes sem conta?
                            São aqueles instantes mágicos, cheios de emoção, que nos fazem sentir vivos e plenos, que nos marcam profundamente e deixam lembranças eternas em nossos corações.
                            São os momentos de risadas sinceras compartilhadas com amigos queridos, as conversas profundas sob o luar, os abraços apertados que transmitem todo o carinho do mundo.
                            São os instantes de aventuras inesquecíveis, de viagens que nos tiram da rotina e nos permitem explorar novos horizontes.
                            São também os momentos de conquistas e realizações, as vitórias alcançadas após muita dedicação e esforço, as emoções de ver nossos sonhos se tornarem realidade.
                            São os momentos de amor, de encontros que mudam nossas vidas, de olhares que dizem mais do que mil palavras, de gestos de ternura que nos fazem sentir amados e especiais.
                            Mas, por mais que desejemos poder reviver esses momentos, sabemos que a vida é feita de instantes passageiros, que deixam lembranças preciosas, mas que não podem ser retidos no tempo.
                            Por isso, é importante valorizarmos cada momento, cada experiência, cada pessoa que cruza o nosso caminho, pois são elas que tornam a nossa jornada única e inesquecível.
                            Então, enquanto caminhamos pela vida, vamos aproveitar cada momento com intensidade, cultivando lembranças que nos acompanharão para sempre e nos enchem de gratidão pelo privilégio de viver.
                            Pois, no final das contas, são essas lembranças que nos fazem sentir verdadeiramente vivos e nos lembram da beleza e da preciosidade da vida.
                            </p>
                            <p> Vitória Maria - 04/06/2024</p>
        </div>
         <div class="container">
                            <h1>Permita-se</h1>
                              <p>Permitir-se ser feliz é um ato de coragem e amor próprio. É reconhecer que merecemos o melhor que a vida tem a oferecer, que merecemos sorrisos genuínos, momentos de alegria e plenitude.
                                É abrir o coração para as experiências positivas, mesmo diante dos desafios e obstáculos que surgem em nosso caminho.
                                Muitas vezes, nos prendemos a padrões impostos pela sociedade, a expectativas alheias e autoimpostas, que nos impedem de enxergar a beleza das pequenas coisas e de valorizar
                                os momentos felizes que surgem em nosso dia a dia. No entanto, quando nos permitimos ser felizes, rompemos essas barreiras e abrimos espaço para a verdadeira realização pessoal.
                                Ser feliz não significa que não enfrentaremos dificuldades ou que tudo será perfeito o tempo todo. Significa, sim, cultivar uma mentalidade positiva, cultivar gratidão pelo que
                                temos e pela jornada que estamos trilhando. Significa valorizar as relações genuínas, os momentos de descontração, as conquistas alcançadas e os aprendizados adquiridos ao longo do caminho.
                                Permitir-se ser feliz também envolve aceitar a si mesmo, com todas as nossas imperfeições e vulnerabilidades, e aprender a amar quem somos, sem cobranças excessivas ou autocríticas constantes.
                                É entender que a felicidade está dentro de nós, e que podemos encontrá-la em cada pequeno gesto de amor, em cada conexão verdadeira com o mundo ao nosso redor.
                                Então, que possamos nos permitir ser felizes, hoje e sempre. Que possamos abrir os braços para a vida, com toda a sua complexidade e beleza, e abraçar cada momento com gratidão e amor.
                                Pois, no final das contas, a felicidade está ao nosso alcance, basta apenas permitirmos que ela floresça em nossas vidas.

                                </p>
                                <p> Vitória Maria - 04/06/2024</p>
                            </div>
        <br>
    </div>
    <div class="container">
                       <h1>Levante do caixão</h1>
                         <p>Vi uma frase que me fez refletir bastante. "Se você levanta do caixão, o velório acaba". E isso, é hora de você levantar. 
                            Já deu, né? Quantas coisas na sua vida você pode transformar se conseguir mudar. É hora de sair de certas situações que não te pertencem mais,
                             de frequentar lugares onde você não se sente confortável, de insistir nas coisas que precisa ficar forçando. Chega!
                              Você não merece isso, você não tem que ser enterrado vivo, deixando a vida colocar uma pá de terra toda vez que as suas expectativas são frustradas.
                               Você está aqui para viver, não sobreviver.
                            Compreenda o significado da sua existência. Há um mundo lá fora esperando por você.
                             Quantos velórios você ainda terá que passar para entender que só precisa se retirar? Se não te faz bem, não fica dando murro em ponta de faca, não se machuca. 
                             Você pode dar um novo sentido à sua vida a qualquer momento, cuida melhor de você. O que te incomoda também é responsabilidade sua.
                            Precisamos ver nossos incômodos como um convite para a mudança.
                            Você pode definir o que mantém na sua vida! É hora de se reerguer e se impor. 
                            Às vezes, você precisa reagir, ressignificar, encarar de outra forma, uma atitude consegue transformar a perspectiva e mudar a realidade. 
                            Você só é culpado quando aceita o fardo da culpa, então se liberta. Não permita ser velado em vida, vá viver, 
                            vá descobrir as maravilhas que tem reservado no teu caminho. Faça a sua jornada ser única. A tua vida está acontecendo, 
                            não deixe passar em vão. Bora, levanta. E hora de acabar o velório. E hora de descobrir que você está mais vivo do que nunca.

                           </p>
                           <p> Vitória Maria - 03/09/2024</p>
                       </div>
   <br>
</div>
<div class="container">
                   <h1>A vida pode ser boa?</h1>
                     <p>A vida será boa. E depois ficará um pouco mais cansativa, então voltará a ser mais leve; 
                        depois mais pesada; haverá algumas inseguranças, medos, dificuldades; mas depois virão as recompensas, a simplicidade, a alegria.
                        Haverámomentos inesquecíveis. Você vai se emocionar, depois sofrer, depois ganhar.
                        A vida não é linear. E, na verdade, não precisa estar tudo lindo e perfeito para que ela seja boa.
                        Saber disso pode te ajudar a balizar as expectativas para ter uma vida real, te dar licença para errar e o direito de mudar sempre que for preciso. 
                        Se tratarmos cada dia como uma vida inteira, temos mais chance de focar no que importa.
                        Dá para ir com calma.
                        A vida não é linear. Mas pode ser boa.

                       </p>
                       <p> Vitória Maria - 03/09/2024</p>
                   </div>
<br>
</div>
<div class="container">
                   <h1>Oferecer um afeto</h1>
                     <p>Às vezes tudo que a gente precisa é um: eai, tudo bem?
                        Está precisando de algo? Posso te ajudar?
                        Lembrei de você. Posso te pedir um conselho? Como você se sente?
                        O que você acha sobre isso? Vamos nos ver?
                        Está melhor da gripe, da tosse,
                        da vida? Olha que filme legal! Essa música me lembrou você. Posso passar aí na volta?
                        Já chegou em casa? Quer uma carona? Um chá, um café? Um encontro? Um afeto.
                        Uma luz. Uma sombra. A gente também consegue oferecer o que nos falta, mas é muito mais fácil o que nos transborda.
                        Oferecer um afeto, às vezes é só perguntar se está tudo bem. E, por aí, está?

                       </p>
                       <p> Vitória Maria - 03/09/2024</p>
                   </div>
                   <br>
                </div>
                <div class="container">
                                   <h1>Inevitável</h1>
                                     <p>É inevitável: quanto mais amadurecemos e evoluimos, mais sentimos a necessidade de ter paz, apenas paz!
                                        Preferimos estar sozinhos do que cercados de pessoas que não acrescentam sentimentos bons em nossas vidas.
                                        Não nos importamos em vencer discussões ou provar que estamos certos. Aprendemos a não dar explicações ou 
                                        justiticar o que quer que seja para quem já decidiu não entender nossos motivos.
                                         Temos essa percepção porque quanto mais nos conhecemos e respeitamos nossas falhas e limitações, mais aprendemos a respeitar os motivos alheios.
                                        Passamos a fazer parte do time do
                                        "deixa pra lá "e seguimos nossa caminhada, nos preocupando apenas com o que importa: 
                                        ser feliz, de um jeito simples e leve. Por isso, tudo que pesa vai ficando para trás.
                
                                       </p>
                                       <p> Vitória Maria - 03/09/2024</p>
                                   </div>
                                   <br>
                                </div>
                                <div class="container">
                                                   <h1>Você precisa se cobrar tanto?</h1>
                                                     <p>Às vezes você quer dar conta de tudo, se cobra ao extremo e esquece que você precisa ter um tempo para si, para respirar, para acalmar o coração.
                                                         Às vezes você também chora porque a canseira do dia te abraça, os obstáculos surgem e as tempestades aparecem. Mas está tudo bem não ser forte o tempo todo, ninguém é de ferro.
                                                        Você não precisa se cobrar tanto sobre as coisas e sobre as pessoas. 
                                                        Lembre sempre que você encontrará pessoas que irão aplaudir o seu sucesso, outras não.
                                                        Algumas vão estender a mão quando você precisar, outras vão te deixar. 
                                                        Mas tudo isso vai te ensinar e você vai aprender a ter mais amor próprio e confiança no seu coração. 
                                                        Nunca esqueça que pra ser feliz você depende unicamente de si, da sua coragem e da sua determinação.
                                                        Ninguém te preparou para o que você iria vivenciar. De repente, coisas aconteceram e, quando você se virou, você já estava lá, passando pelo seu momento mais difícil: 
                                                        alguns dias com ansiedade, outros com tristeza, e muitos outros chorando em silêncio. Mas olhe para você, aqui está você, você continua tentando apesar de todas as
                                                         batalhas que vem curando silenciosamente. Admiro você por seguir em frente, principalmente naqueles dias em que você não consegue encontrar uma saída. 
                                                        Te admiro por essa batalha que só você conhece. Seja gentil consigo mesmo, nunca desista de si mesmo e confie que, por mais sombrio que pareça, tudo ficará bem.
                            
                                                       </p>
                                                       <p> Vitória Maria - 03/09/2024</p>
                                                   </div>
                               <br>
        <style>
            #contact {
                text-align: center;
            }

            .container {
                margin-top: 20px;
            }

            .icon {
                margin-right: 10px;
                width: 20px;
            }
        </style>
    </head>

    <body>
        <div id="contact" class="container">
            <h5>Para entrar em contato conosco, utilize os seguintes meios disponíveis:</h5>
            <a href="mailto:soulwithvoice@gmail.com">
                <img class="icon" src="https://img.icons8.com/ios-filled/50/000000/email.png"/> soulwithvoice@gmail.com
            </a><br>
            <a href="https://www.instagram.com/soulwithvoice/" target="_blank">
                <img class="icon" src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png"/> @soulwithvoice
            </a>
            </div>

            <style>
                #contact {
                    text-align: center;
                }
            </style>

            <div id="contact" class="container">

              <h5>Compartilhe o amor pela leitura com seus amigos e seguidores!</h5>
        <a class="share-button" href="https://www.facebook.com/sharer/sharer.php?u=https:maviramos.pythonanywhere.com/" target="_blank">
            <img class="icon" src="https://img.icons8.com/ios-filled/50/000000/facebook.png"/> Compartilhar no Facebook
        </a>
        </a>
        <br>
        <a class="share-button" href="https://web.whatsapp.com/send?text=Confira este site: maviramos.pythonanywhere.com/" target="_blank">
            <img class="icon" src="https://img.icons8.com/ios-filled/50/000000/whatsapp.png"/> Compartilhar no WhatsApp
        </a>
    </div>
        </div>

    </form>
</div>

    </div>
</nav>

    <footer class="footer">
        <div id="contact" class="container">
            <p style="color: black;">Todos os direitos reservados</p>
            <p style="color: black;"> &copy; 2024 </p>



        </div>
    </footer>

</body>
</html>